.P {
    width: 1000px;
}

.S {
    font-style: normal ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Search {
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
}
